.m-picker-wrapper {
    width: 90%;
    height: 90%;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.m-picker, * {
    position: relative;
    user-select: none;
}
.m-picker-input {
    /*height: 40px;*/
    overflow: hidden;
    border-radius: 20px;
    display: inline-flex;
    /*grid-template-columns: 4fr 1fr;*/
    padding: 5px 15px;
    background: #f5f5f5;
    align-items: center;
    cursor: pointer;
    max-width: 160px;
}
.m-picker-input input {
    background: #f5f5f5;
    border: none;
    letter-spacing: 1px;
    color: #444444;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
}
.m-picker-input input:focus {
    outline: none;
}
.m-picker-input input::placeholder {
    font-size: 13px;
}

.m-picker-container {
    position: absolute;
    left:0;
    top: 42px;
    background: #fff;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
    border-radius: 20px;
    overflow: hidden;
    /*padding: 10px 20px;*/
}
.m-picker-container.visible {
    height: 400px;
    width: 380px;
    padding: 25px 30px;
    transition: all 0.4s ease;
}
.m-picker-container.hidden {
    height: 0;
    width: 0;
    padding: 0;
    transition: all 0.4s ease;
}
.m-picker-header {
    width: 100%;
    display: grid;
    grid-template-columns: 30px 30px auto 30px 30px;
    margin-bottom: -10px;
    padding: 10px 5px;
}

.m-picker-header .mp-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    height: 30px;
    transition: background-color 0.4s ease;
}
.m-picker-header .mp-btn[hidden], .m-picker-month[hidden] {
    opacity: 0;
    visibility: hidden;
}
.m-picker-header .mp-btn:hover {
    background-color: rgba(228, 228, 228, 0.49);
    transition: background-color 0.4s ease;
}
.mym-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.m-picker-year {
    color: #666;
    text-align: center;

}
.m-picker-month {
    font-size: 11px;
    font-weight: 200;
    line-height: 1;
    color: #666;
    text-align: center;
}
.m-picker-month:hover, .m-picker-year:hover {
    cursor: pointer;
    color: #4459aa;
}
.m-picker-week {
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    text-align: center;
    align-items: center;
}
.mp-panel {
    padding: 0 10px 10px;
}
.mp-calendar {
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-template-rows: repeat(6, 35px);
    align-items: center;
    grid-gap: 3px;
}
.mp-weekday {
    font-weight: 700;
    color: #666;
    font-size: 9px;
}
.mp-day {
    font-size: 12px;
    font-weight: 300;
    color: #444;
    text-align: center;
    height: 100%;
    align-items: center;
    display: inline-grid;
    border-radius: 50%;
}
.mp-day:hover {
    cursor: pointer;
    background: rgba(221, 235, 255, 0.33);
}
.mp-day.disabled {
    color: #ddd;
    background: #fff!important;
}
.mp-day.highlight {
    background: rgba(225, 202, 239, 0.8);
}
.mp-day.selected {
    background: rgba(88, 136, 190, 0.38);
}

.m-month-panel, .m-year-panel {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(3, 60px);
    align-items: center;
    text-align: center;
    grid-gap: 3px;
}
.mp-month, .mp-year {
    font-size: 12px;
    cursor: pointer;
    color: #666666;
    display: inline-grid;
    align-items: center;
    height: 100%;
}
.mp-year.other {
    color: #9999;
}
.mp-month.selected, .mp-year.selected {
    color: #3F51B5;
    font-weight: 600;
}
.mp-month:hover, .mp-year:hover {
    color: #4e66c2;
    font-weight: 500;
}